<label>Email: </label>
<input [(ngModel)]="user.email" />
<br/>

<label>Password: </label>
<input [(ngModel)]="user.password" />
<br/>
<a routerLink="/catalog">
  <button (click)="loginHandler(user)" >
        Submit
  </button>
</a>


<div  class="user" 
    *ngFor="let data of catalog">

  <h2>{{data.id}}</h2>

  <p>admin: {{data.admin}}€</p>
  <p>apikey: {{data.apikey}}€</p>
  <p>email: {{data.email}}€</p>
  <p>name: {{data.name}}€</p>
  <p>name: {{data.password}}€</p>

  {{data.name}}
  <button (click)="delCartHandler(data)">Remove From Cart</button>

</div>