<table id="login">
    <tr>
        <td> 
            <tr>
                <td>
                    E-mail  : 
                  </td>
                  <td>
                    <input [(ngModel)]="user.email" />
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input [(ngModel)]="user.password" />
                </td>
            </tr>
        </td>
        <td>
            <a routerLink="/catalog">
                <button (click)="loginHandler(user)" >
                    <img
                        src="https://t3.ftcdn.net/jpg/00/31/32/06/500_F_31320699_UcSaUXDKycDWMjrYF3pPq7wGbwbmNZXi.jpg"    
                        alt="Submit"
                        width=60px
                    >
                </button>
            </a>
        </td>
    </tr>    
</table>
<br>

<h2>Create an account:</h2>
<table id="createUser">
        <tr>
            <td> 
                <tr>
                    <td>
                        E-mail  : 
                      </td>
                      <td>
                        <input [(ngModel)]="user.email" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Name : 
                      </td>
                      <td>
                        <input [(ngModel)]="user.name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Password : 
                      </td>
                      <td>
                        <input [(ngModel)]="user.password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Apikey  : 
                      </td>
                      <td>
                        <input [(ngModel)]="user.apikey" />
                    </td>
                </tr>
                <tr>
                    <td>
                        is admin? : 
                      </td>
                      <td>
                        <input [(ngModel)]="user.admin" />
                    </td>
                </tr>
            </td>
            <td>
                <a routerLink="/admin/users">
                    <button (click)="postUserHandler()" >
                        <img
                            src="https://t3.ftcdn.net/jpg/00/31/32/06/500_F_31320699_UcSaUXDKycDWMjrYF3pPq7wGbwbmNZXi.jpg"    
                            alt="Submit"
                            width=60px
                        >
                    </button>
                </a>
            </td>
        </tr>    
    </table>
    <br>	



<br>
<table id="userTable">
    <tr id="tableHeader">
            <th>id       </th>
            <th>isAdmin  </th>
            <th>apikey   </th>
            <th>e-mail   </th>
            <th>name     </th>
            <th>password </th>
            <th>Delete   </th>
    </tr>
    <tr class="tableData" 
        *ngFor="let data of catalog">
          <td>  {{data.id}}       </td>
          <td>  {{data.admin}}    </td>
          <td>  {{data.apikey}}   </td>
          <td>  {{data.email}}    </td>
          <td>  {{data.name}}     </td>
          <td>  {{data.password}} </td>
          <td>
              <button (click)="delCartHandler(data)">
                  <img 
                      src="https://previews.123rf.com/images/vectora/vectora1510/vectora151000234/46523483-red-cross-graphics-remove-delete-button-icon-editable-vector.jpg" 
                      alt="X"
                      width=20px
                  />
              </button>
          </td>
    </tr>
</table>
